NEXT_PUBLIC_SITE_URL=https://neon-snake-indol.vercel.app
NEXT_PUBLIC_CHAIN_ID=8453
NEXT_PUBLIC_BASE_APP_ID=
NEXT_PUBLIC_BUILDER_CODE=bc_xj38c05v
NEXT_PUBLIC_CHECK_IN_CONTRACT_ADDRESS=0xFeF4981d6f25fdB5aA8d018Cd532F309b9fe861D
